name: Slash Command Dispatch
on:
  issue_comment:
    types: [created]

jobs:
  slashCommandDispatch:
    runs-on: ubuntu-latest
    steps:
      - name: Slash Command Dispatch
        uses: peter-evans/slash-command-dispatch@v1
        with:
          token: ${{ secrets.UPDATE_BOT_TOKEN }}
          commands: unit-test, integration-test, build-test, retest, hello
          issue-type: pull-request
